<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>rss-to-ical</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script>
	function genIcsPubLink() {
		var encodedRssUrl = encodeURIComponent($('#rssUrl').value());
		var eventDuration = $().value('#eventDuration').replace(/\D/g,'');
		
// 		window.location.origin;

	}
</script>
</head>
<body>
	Enter the URL of the RSS feed to be published as iCal:
	<input id='rssUrl' onchange="" /> Optionally, enter the event duration
	in minutes (defaults to 60):
	<input id='eventDuration' onchange="" />

	<span id='pubLink' />

</body>
</html>